body {
  background-color: #EEE;
  font-family: 'Source Code Pro', sans-serif;
}

a {
  text-decoration: none;
  color: #66FCF1;
}

h1, h2, h3 {
  margin: 0;
}

#container {
  background-color: #1F2833;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #0B0C10;
  color: #66FCF1;
  text-align: center;
  padding: 10px;
}

#content {
  padding: 10px;
  color: #C5C6C7;
}

#nav {
  width: 200px;
  float: left;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav .selected {
  font-weight: bold;
}

#main {
  width: 880px;
  float: right;
}

#footer {
  clear: both;
  padding: 10px;
  background-color: #45A29E;
  color: white;
  text-align: right;
}

table {
  border: 2px solid #66FCF1;
}
